* {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    &:hover {
      background: #d1d0d0;
    }

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    height: 10%;
    &:hover {
      background: #555;
    }
  }

}

.main-container {
  padding: 5% 2% 2% 2%;
  overflow-y: auto;
  height: 100vh;
}

.wrapper-container {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}
